ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5080
ConnectionStrings__SheetYar=Server=localhost;Database=SheetYar;Trusted_Connection=True;TrustServerCertificate=True
SHEET_YAR_API_BASE_URL=http://10.0.2.2:5080
